body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 22px;
}

h1:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.card_itens {
  display: inline-block;
  padding: 20px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  width: 300px;
  height: 520px;
}

.img_cube {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.descrition {
  color: hsl(215, 51%, 70%);
}

.price_days {
  display: flexbox;
  justify-content: space-between;
}

.price {
  display: inline;
  height: 30px;
}

.days {
  display: inline;
  height: 30px;
}

.img_ethereum {
  display: inline-block;
}

.clock {
  display: flexbox;
  margin-left: 110px;
}

.price_ethereum {
  display: inline-block;
  color: hsl(178, 100%, 50%);
  margin-left: 5px;
}

.days_left {
  color: hsl(215, 51%, 70%);
  display: inline;
  text-align: right;
}

.author {
  border-top: solid 2px hsl(215, 32%, 27%);
  display: block;
  text-align: left;
}

.created_by {
  color: hsl(215, 51%, 70%);
  display: inline-block;
  margin-top: 0px;
  vertical-align: middle;
}

.lucas_git:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.photo_artist {
  width: 40px;
  margin: 15px 15px auto 0;
}

.lucas_git {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
